<!-- <p>main works!</p>
<form [formGroup]="form" class="w-25" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>Amount</label>
        <div class="input-group">
            <input type="text" class="form-control" formControlName="amount" required>
        </div>
    </div>
    <div class="form-group">
        <label>From</label>
        <div class="input-group">
            <input type="date" class="form-control" formControlName="fromDate" required>
        </div>
    </div>

    <div class="form-group">
        <label>To</label>
        <div class="input-group">
            <input type="date" class="form-control" formControlName="toDate" required>
        </div>
    </div>
    <div class="form-group">
        <label>Rate of Interest</label>
        <div class="input-group">
            <input type="text" class="form-control" formControlName="rate" required>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Primary</button>
    </div>
</form>
<button type="submit" class="btn btn-primary" [routerLink]="['/feature']" routerLinkActive="router-link-active" >Primary</button> -->

<div class="d-flex mt-3">
    <button  class="btn btn-primary mx-3" (click)="cardView()">Card view</button> 
    <button  class="btn btn-primary mx-3" (click)="listView()">List view</button> 
    <button  class="btn btn-primary mx-3" >Map</button> 
    <button  class="btn btn-primary mx-3" >New Customer</button> 
 <input type="text" class="mx-3" placeholder="Search Filters">
</div>
<button (click)="interaction()">sasasas</button>
<app-card-customer *ngIf="displayMode" [data] = "limititems" (click)= "receiveMessage($event)"  ></app-card-customer>
<app-grid-customer *ngIf="listMode" [data] = "limititems"></app-grid-customer>
<pagination [totalItems]="card.length" (pageChanged)="pageChanged($event)"></pagination>
<!-- {{message}} -->