
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="w-25">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && loginValid.username.errors }" />
                    <div *ngIf="submitted && loginValid.username.errors" class="invalid-feedback">
                        <div *ngIf="loginValid.username.errors.required">Username is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && loginValid.password.errors }" />
                    <div *ngIf="submitted && loginValid.password.errors" class="invalid-feedback">
                        <div *ngIf="loginValid.password.errors.required">Password is required</div>
                    </div>
                </div>
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </form>
       