<!-- <p>customers-card works!</p> -->
<div class="nav">
    <div class="card m-2" style="width: 18rem;" *ngFor="let item of limititems">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <p class="card-text">{{item.body}}</p>
          <a href="#" class="btn btn-primary">View Orders</a>
        </div>  
      </div>
    
</div>

<pagination [totalItems]="card.length" (pageChanged)="pageChanged($event)"></pagination>
