<!-- <div class="m-2 danger" *ngFor="let item of albums" > 
  {{item.userId}}
</div> -->

<div class="" >
  <button *ngFor="let item of listitem" class="mx-3" type="button" routerLink="/{{item}}" routerLinkActive="router-link-active" class="btn btn-primary m-3">{{item}}</button>
</div>