<!-- <p>card-customer works!</p> -->
<!-- <p>customers-card works!</p> -->
<div class="nav">
    <div class="card m-2" style="width: 18rem;" *ngFor="let item of data | filter:SearchText">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
            {{item.userId}}
            {{item.id}}
          <h5 class="card-title">{{item.title}}</h5>
          <p class="card-text">{{item.body}}</p>
          <a href="#" class="btn btn-primary" [routerLink]="['/Customers', item.id]">View Orders</a>
        </div>  
      </div>
    
</div>


{{message}}
<!-- {{data}}
<div *ngFor="let items of data">
    {{items.title}}
</div> -->