<p>customers works!</p>
{{username}}
<div class="" *ngFor="let item of users">
    {{item.address.geo.lat}}
</div>

<h1>{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<!-- <agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map> -->
{{message}}